<article>
  <header>
    <%= image_for(@tool) %>
    <h1><%= @tool.name %></h1>
  </header>
  <h2>Description</h2>
  <p>
    <%= @tool.description %>
  </p>
  <h2>Price</h2>
  <p>
    <%= format_price(@tool) %>
  </p>
  <h3>Comment</h3>
  <p>
    <%= @tool.comment %>
  </p>
</article>

<%= link_to "Edit", edit_tool_path(@tool) %> |
<%= link_to "Delete", tool_path(@tool), method: :delete, data: {confirm: 'Are you sure?'} %>

